@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    box-sizing: border-box;
}

.sect2 {
    --scrollbar-width: 5px;
    --scrollbar-height: 0px;
    --scrollbar-border-thickness: 0px;
    --scrollbar-thumb-color: #000000;
}

.sect2::-webkit-scrollbar {
    width: var(--scrollbar-width, 20px);
    height: var(--scrollbar-height, 20px);
}

.sect2::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, #3B82F6);
    border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
}

.sect2::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, #A1A1AA);
}

.sect2::-webkit-scrollbar-corner {
    background: var(--scrollbar-corner-color, #FFFFFF);
    border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
    border-radius: var(--scrollbar-border-radius, 4px);
}

.sect2::-webkit-scrollbar-button:vertical:start:increment,
#preview::-webkit-scrollbar-button:vertical:end:decrement,
#preview::-webkit-scrollbar-button:horizontal:start:increment,
#preview::-webkit-scrollbar-button:horizontal:end:decrement {
    display: var(--show-double-buttons, none);
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cont_line{
    width: 90%;
    height: max-content;
}
.linea {
    background-color: black;
    width: 100%;
    height: 4px;
}

.sect1 {
    position: static;
    height: 660px;
    margin: 10px;
    background-color: rgb(254, 251, 235);
    border: 4px solid black;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#fp {
    margin-top: 40px;
    margin-bottom: 15px;
    width: 14em;
    height: 14em;
    transition: .4s ease-in-out;
    border-radius: 100%;
    border: solid 3px black
}

#fp:hover{
    scale: 1.06;
    border-radius: 10%;
}
.botones {
    margin-left: 10px;
    margin-right: 10px;
}

.info {
    /* margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 30px;
    padding-right: 30px; */
    padding: 1rem;
    width: 100%;
    height: max-content;
    color: black;
    text-align: justify;
    overflow: visible;
}

.sect2 {
    height: 660px;
    margin: 10px;
    background-color: rgb(111, 223, 254);
    border: 2px solid black;
    overflow: scroll;
    overflow-x: hidden;
    border: 4px solid black;
}

h1 {
    padding-top: 20px;
    width: 90%;
    text-align: left;
}

.sect3 {
    display: flex;
    height: 660px;
    margin: 10px;
    background-color: rgb(254, 251, 235);
    border: 4px solid black;
    box-shadow: 6px #000000;
    position: relative;
}

.tabla1 {
    text-align: center;
    width: 90%;
    height: 100px;
    transform: .4s ease-in-out;
}
.tabla1:hover{
    scale: 1.06;
    box-shadow: 4px 8px #000000;
}
.tabla2:hover{
    scale: 1.06;
    box-shadow: 4px 8px #000000;
}
.tabla2 {
    margin-top: 3rem;
    text-align: center;
    width: 90%;
    height: 200px;
}
th,
td {
    width: 90px;
    padding: 3px;
    margin: 100px;
    font-style: normal;
    box-shadow: 2px 2px black;
    border: 3px solid rebeccapurple
}

.info ul {
    padding-left: 1rem;
}

@media (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .sect2 {
        --scrollbar-width: 5px;
        --scrollbar-height: 0px;
        --scrollbar-border-thickness: 0px;
        --scrollbar-thumb-color: #000000;
    }
    
    .sect2::-webkit-scrollbar {
        width: var(--scrollbar-width, 20px);
        height: var(--scrollbar-height, 20px);
    }
    
    .sect2::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color, #3B82F6);
        border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
    }
    
    .sect2::-webkit-scrollbar-track {
        background: var(--scrollbar-track-color, #A1A1AA);
    }
    
    .sect2::-webkit-scrollbar-corner {
        background: var(--scrollbar-corner-color, #FFFFFF);
        border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
        border-radius: var(--scrollbar-border-radius, 4px);
    }
    
    .sect2::-webkit-scrollbar-button:vertical:start:increment,
    #preview::-webkit-scrollbar-button:vertical:end:decrement,
    #preview::-webkit-scrollbar-button:horizontal:start:increment,
    #preview::-webkit-scrollbar-button:horizontal:end:decrement {
        display: var(--show-double-buttons, none);
    }
    .cont_line{
        width: 90%;
        height: max-content;
    }
    .linea {
        background-color: black;
        width: 100%;
        height: 4px;
    }
    
    .sect1 {
        position: static;
        height: 660px;
        margin: 10px;
        background-color: rgb(254, 251, 235);
        border: 4px solid black;
    }
    
    .content {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    
    #fp {
        margin-top: 40px;
        margin-bottom: 15px;
        width: 14em;
        height: 14em;
        border-radius: 100%;
        border: solid 3px black
    }
    
    .botones {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .info {
        /* margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 30px;
        padding-right: 30px; */
        padding: 1rem;
        width: 100%;
        height: max-content;
        color: black;
        text-align: justify;
        overflow: visible;
    }
    
    .sect2 {
        height: 660px;
        margin: 10px;
        background-color: rgb(111, 223, 254);
        border: 2px solid black;
        overflow: scroll;
        overflow-x: hidden;
        border: 4px solid black;
    }
    
    h1 {
        padding-top: 20px;
        width: 90%;
        text-align: left;
    }
    
    .sect3 {
        display: flex;
        height: 660px;
        margin: 10px;
        background-color: rgb(254, 251, 235);
        border: 4px solid black;
        box-shadow: 6px #000000;
        position: relative;
    }
    
    .tabla1 {
        text-align: center;
        width: 90%;
        height: 100px;
    }
    .tabla2 {
        margin-top: 3rem;
        text-align: center;
        width: 90%;
        height: 200px;
    }
    th,
    td {
        width: 90px;
        padding: 3px;
        margin: 100px;
        font-style: normal;
        box-shadow: 2px 2px black;
        border: 3px solid rebeccapurple
    }
    
    .info ul {
        padding-left: 1rem;
    }
}